/* write your override styles here */
#wall{
  position: absolute;
  background-color: yellow;
  float: left;
  margin-left: 5;
  margin-right: 10px;
  border-bottom: 50px;
}
#wall .tag-1 {
  display: none;
}
#wall #tag-2{
  background: blue;
  z-index: 100;
  margin: 50px;
  border:red;
  display: none;
}
#wall #tag-3 .slick wicked{
  margin-top: 120px;
  border: 1px dotted red;
  padding: 10px red;
  display: none;
}
#wall .parent #tag-5 .slick{
  background: red;
  z-index: 10
}

.parent{
  display: flex;
  justify-content: space-between;
}
